@import './styles/variables.scss';

.main {
  max-width: 1920px;
  margin: 0 auto;
  padding: 81px 10px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  max-width: 1120px;
}

.titleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 112px;
}

.title {
  max-width: 498px;
  font-family: var(--font-interTight-semiBold);
  font-size: 48px;
  letter-spacing: -0.01em;
  color: $secodnary-color;
}

.cancelBtnContainer {
  margin-top: 22px;
}

.button {
  font-size: 16px;
  letter-spacing: -0.03em;
  text-align: center;
  color: $secodnary-color;
  border: 1px solid rgba(18, 19, 19, 0.16);
  border-radius: 41px;
  padding: 14px 19px;
  background: transparent;

  &:disabled {
    border: none;
    cursor: no-drop;
    color: #acacac;
    background: #efefef;
  }
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 123px;

  label {
    font-size: 16px;
    line-height: 119%;
    opacity: 0.7;
    margin: 0 0 25px;
    color: $primary-color;

    &:nth-child(4) {
      margin-top: 6px;
    }
  }

  input {
    width: 498px;
    height: 54px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    display: block;
    margin: 14px 0 0;
    padding: 18px;

    &::placeholder {
      font-size: 15px;
      opacity: 0.4;
    }
  }
}

.inputContainer {
  grid-row: span 3;
  display: flex;
  flex-direction: column;

  label {
    &:last-of-type {
      margin: 0;
    }
  }

  label:nth-child(2) {
    letter-spacing: -0.03em;
    margin: 0 0 59px;
  }
}

.textareaContainer {
  grid-row: span 2;
  align-self: flex-end;
  margin-top: 17px;

  textarea {
    width: 498px;
    height: 157px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    margin: 14px 0 0;
    padding: 16px 18px;
    resize: none;

    &::placeholder {
      font-size: 15px;
      opacity: 0.4;
    }
  }
}

.bottomContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 94px;
}

.pagination {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirmButton {
  width: 248px;
  height: 48px;
  padding-left: 57px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  position: relative;

  svg {
    stroke: $secodnary-color;
    position: absolute;
    top: 17px;
    right: 23px;
  }

  &:disabled svg {
    stroke: #acacac;
  }
}
